/* #box {
    height: 500px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
}

#selection {
    width: 200px;
    height: 40px;
}

.banana {
    display: none;
}

.text_message {
    border: 50px solid green;
    width: 300px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 5px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

* {
     background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fphotos%2Fhd-wallpaper&psig=AOvVaw2176sy24T1xSkogcxb9Dw5&ust=1703919390930000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJC_z8yItIMDFQAAAAAdAAAAABAD');
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0px;
    background-position: center;
    background-size: cover;
} 
    
   
    /* .box-container {
    border: 1px solid black;
    padding: 8px;
}

.box-1 {
    width: 100px;
    height: 10vh;
    background-color: rgb(65, 161, 75);
    display: inline-block;
}

.box-2 {
    width: 100px;
    height: 10vh;
    background-color: rgb(85, 73, 73);
    display: inline-block;
}

.box-3 {
    width: 100px;
    height: 10vh;
    background-color: red;
    display: inline-block;
}

.box-4 {
    width: 100px;
    height: 10vh;
    background-color: rgb(55, 21, 122);
    display: inline-block;
} */


/* body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid red;
    height: 100vh;
    width: 100%;
} */


/* .list-group ol li:last-child {
    background-color: red;
    font-size: 30px;
}

.list-group ol li:nth-child(2) {
    background-color: red;
    font-size: 30px;
} */


/* .checkin input[type=checkbox]:checked+label {
    color: red;
    font-size: 50px;
}

.test p::before {
    content: 'ashdgf';
    color: red;
}

.test p::after {
    content: 'adi';
    color: green;
} */


/* .test p::first-letter {
    font-size: 80px;
    color: green
} */


/* .test p::first-line {
    color: green;
}

input::placeholder {
    color: red;
} */


/* 
.test {
    width: 100px;
    height: 100px;
    margin: 100px;
}

.test img {
    width: 100%;
    border-radius: 100%;
}

.test:hover {
    width: 200px;
    height: 200px;
    border-radius: 100px;
} */


/* 
.text {
    column-count: 4;
    padding: 4px;
}

.nav {
    position: sticky;
    top: 0px;
    text-align: center;
    color: white;
    width: 100%;
    background-color: silver;
} */


/* .cont {
    border: 1px solid black;
}

.box1 {
    height: 10vh;
    width: 100px;
    background-color: purple;
    display: inline-block;
    position: relative;
    left: 150px;
}

.box2 {
    height: 10vh;
    width: 100px;
    background-color: rgb(129, 118, 129);
    display: inline-block;
} */


/* .box {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    margin: 50px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    background: linear-gradient(to left, red, green, blue)
}

.box1 {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    margin: 50px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    background: radial-gradient(circle, red, rgb(163, 168, 119), rgb(121, 121, 137))
} */


/*     
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    } */


/* .box1 {
        width: 100px;
        height: 100px;
        background-color: rgb(53, 117, 137);
        margin: 50px 50px;
        position: relative;
        animation-name: square;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-delay: 2s;
        animation-iteration-count: 3;
        animation-direction: alternate-reverse;
        animation-fill-mode: none;
        animation-play-state: running; */


/* transition-delay: 1s;
    transition-duration: 0.5s;
    transition-timing-function: linear; */


/* transition: all 0.5s 1s linear; */


/* flex-grow: 1; */


/* }
@keyframes square { */


/* from {
        background-color: red;
    }
    to {
        background-color: gold;
    } */


/* 0% {
    left: 50px;
    top: 50px;
}

25% {
    left: 1100px;
    top: 50px;
}

50% {
    left: 1100px;
    top: 500px;
    border-radius: 50px;
}

75% {
    left: 50px;
    top: 500px;
}

100% {
    top: 50px;
    top: 50px;
}


} */


/* .box1:hover {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: green;
} */


/* .box2 {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: rgb(191, 96, 166);
    flex-grow: 1;
}

.box3 {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: rgb(93, 179, 222);
    flex-grow: 1;
}

.box4 {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: red;
} */


/* .test img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .test img:hover {
        transform: scale(1.1);
    } */


/*  */


/* .button1 {
        border: none;
        outline: none;
        font-size: 18px;
        height: 35px;
        width: 35px;
        transition: all 0.1s ease-in-out;
        margin: 100px;
        box-shadow: none;
        border-radius: 17.5px;
        background-color: transparent;
        cursor: pointer;
    }
    
    .button1:hover {
        background-color: rgb(199, 203, 199);
    } */


/* .forblur {
    height: 200px;
    background: transparent;
    backdrop-filter: calc(300px);
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
} */


/* Default styles */

#app-container {
    color: black;
    background-color: white;
}


/* Styles for black and white mode */

#app-container.black-and-white {
    filter: grayscale(100%);
}


/* * {
        background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg');
        background-repeat: no-repeat;
        padding: 0px;
        background-position: center;
        background-size: cover;
    } */